:root {
  --brand-color: #137e6e;
  --dark-gray: #282828;
  --light-gray: #80a2b6;
  --background: white;
  --warning: red;
  --input_background: #f6f7f8;
  --input_border: #c1d9e6;
  --input_accent_border: #e3ebef;
  --main_action: #11b3fe;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Arial;
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

.widget_wrapper {
  background: var(--background);
  max-width: 1000px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  @media (max-width: 1000px) {
    max-width: 500px;
  }
}

.selects_wrapper {
  display: flex;
  gap: 20px;
  padding-top: 60px;
  @media (max-width: 1000px) {
    flex-direction: column;
    max-width: 100%;
  }
}

.action_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 56px;
  padding-top: 60px;
  @media (max-width: 1000px) {
    flex-direction: column;
  }
}

.select_wrapper {
  height: 50px;
  min-width: 440px;
  background: var(--input_background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--input_border);
  border-radius: 5px;
  position: relative;
  @media (max-width: 1000px) {
    min-width: inherit;
  }
}

.select_wrapper_opened {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.dropdown_arrow_wrapper {
  margin-left: auto;
  min-height: 100%;
  width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.dropdown_arrow_wrapper svg {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.dropdown_arrow_wrapper svg.show {
  opacity: 1;
  position: absolute;
}

.currency_info_wrapper {
  height: 30px;
  border-left: 1px solid var(--input_accent_border);
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 15px;
  color: var(--dark-gray);
}

.select_left_part {
  display: flex;
  cursor: default;
}

.select_currency {
}

.select_amount {
  width: 100%;
}

.dropdown_list_wrapper {
  z-index: 1;
  position: absolute;
  top: 49px;
  right: -1px;
  cursor: pointer;
  background: var(--input_background);
  border: 1px solid var(--input_border);
  border-top: 1px solid var(--input_accent_border);
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  box-sizing: content-box;
  transition: max-height 0.3s ease;
}

.dropdown_list_wrapper.dropdown_closed {
  max-height: 0;
  overflow: hidden;
  border-color: transparent;
}

.dropdown_list_wrapper.dropdown_opened {
  max-height: 300px;
}

.dropdown_single_item {
  display: flex;
  gap: 16px;
  align-items: center;
  color: var(--light-gray);
}

.transparent_input {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  margin-left: 16px;
  display: flex;
  align-items: center;
  color: var(--dark-gray);
  padding: 5px;
}

.transparent_input::placeholder {
  color: var(--light-gray);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="text"] {
  width: 100%;
}

.exchange_button {
  position: relative;
  width: 205px;
  height: 50px;
  background: var(--main_action);
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  @media (max-width: 1000px) {
    width: 100%;
  }
}

.exchange_button:disabled {
  background: var(--main_action);
  cursor: not-allowed;
  opacity: 0.6;
}

.exchange_button:not(:disabled):active {
  box-shadow: 0 0 4px 2px rgba(17, 179, 254, 0.5);
}

.address_input_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.addres_input_wrapper label {
  margin-bottom: 8px;
}

h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 120%;
}

h3 {
  padding-top: 16px;
  font-size: 20px;
  font-weight: 400;
}

h1,
h3,
label {
  color: var(--dark-gray);
}

.exchange_arrows_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 16px;
  @media (max-width: 1000px) {
    align-items: flex-end;
    transform: rotate(90deg);
    margin-left: auto;
  }
}

.error_message {
  padding: 5px;
  color: var(--warning);
  position: absolute;
  bottom: -30px;
}

.invalid_dash {
  width: 39px;
  height: 1px;
  border: 1px solid var(--light-gray);
  margin-top: 25px;
  margin-left: 16px;
}
